.search-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 40px;
}

.search-item{
    flex: 1;
    text-align: center;
    width: 100%;
    max-width: 270px;
    padding: 5px 3px;
    margin: 35px 0;
}

.search-background {
  width: 100%;
  min-width: 255px;
  height: 140px;
  position: relative;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100% 100%;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  border-radius: 0px;
}

.search-caption {
  border-top: 1px;
  border-color: #fff;
  max-width: 255px;
  margin: 0 auto;
  background-color: #fff;
  text-align: center;
  padding: 15px 10px;
  font-weight: 700;
  font-size: 14px;
  color: #000;
}
