.sliderRow {
    margin: 3vw 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    transition: transform .54s cubic-bezier(.5,0,.1,1) 0s;
    z-index: 1;
}
@media screen and (min-width: 1500px)
    .rowTitle {
        /*margin-left: 60px;*/
}

.rowContainer{
    position:relative;
    z-index:0;
}
.rowContainer .rowContent{
    padding:0;
    box-sizing:border-box
}

.rowContainer
.rowContent
.slider{
    z-index:2
}
.rowContainer
.rowContent .slider
.handle{
    background:rgba(20,20,20,.5)
}
.rowContainer
.rowContent
.slider:hover
.handle
.active:hover{background:rgba(20,20,20,.7)}
.lolomoRow,
.rowContainer{
    transition:transform .54s cubic-bezier(.5,0,.1,1) 0s;
}

.sliderFlexContainer {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    z-index: 1;
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.nowrap  {
  flex-wrap: nowrap;
}

.flex-item {
  padding: 5px 3px;
  margin: 10px 0px;

  line-height: 100px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.video-artwork{
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
    width: 100%;
    padding: 28.125% 0;
}

/*CARD STYLES*/

.card {
    position: absolute;
    visibility: hidden;
    z-index: 2;
    background-color: #000;
}

.card .card-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.card-image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    opacity: 0;
    z-index: 2;
    opacity: 0;
}

.card .card-outline {
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    right: -1px;
    z-index: 1;
    border: 1px solid #141414;
}

.card .card-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: -1px;
    left: -1px;
    cursor: pointer;
    z-index: 2;
    background-color: rgba(0,0,0,0);
    background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,0) 33%,rgba(0,0,0,.85) 100%);
}

.card .card-overlay .card-play-hitzone {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.card .card-overlay .card-info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    color: #fff;
    padding: .5vw 1vw .8vw;
}

.card .card-overlay .card-info .card-info-main {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
    z-index: 1;
    pointer-events: none;
}
